In [62]:
import pandas as pd
df=pd.read_csv('EMG_dataset.csv')
df.head(3)

,MAV,RMS,StandardDeviation,Variance,WaveformLength,ZeroCrossing,HandMove
0,0.000545,0.002181,0.002181,0.000005,5.6258,2937,Down
1,0.000533,0.002179,0.002179,0.000005,6.0973,3373,Down
2,0.000503,0.002163,0.002163,0.000005,5.4163,3154,Down

In [63]:
target=df.HandMove
inputs=df.drop('HandMove',axis='columns')

In [64]:
dummies=pd.get_dummies(df.HandMove)
dummies.head(3)

   Down  Up
0     1   0
1     1   0
2     1   0

In [65]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

,MAV,RMS,StandardDeviation,Variance,WaveformLength,ZeroCrossing,Down,Up
0,0.000545,0.002181,0.002181,0.000005,5.6258,2937,1,0
1,0.000533,0.002179,0.002179,0.000005,6.0973,3373,1,0
2,0.000503,0.002163,0.002163,0.000005,5.4163,3154,1,0

In [66]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2 )

In [67]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [68]:
model.fit(X_train ,y_train)

GaussianNB()

In [69]:
model.score(X_test ,y_test)

1.0

In [70]:
X_test

,MAV,RMS,StandardDeviation,Variance,WaveformLength,ZeroCrossing,Down,Up
19,0.000338,0.001327,0.001327,0.000002,4.7448,3506,0,1
45,0.000352,0.001321,0.001321,0.000002,4.3159,3023,1,0
39,0.000702,0.002886,0.002886,0.000008,6.9592,2917,0,1
15,0.000409,0.001934,0.001934,0.000004,5.2272,3456,1,0
41,0.000822,0.003526,0.003526,0.000012,7.8530,3091,0,1
43,0.000806,0.003458,0.003458,0.000012,7.3792,3105,0,1
26,0.001133,0.004573,0.004573,0.000021,10.1840,3343,0,1
18,0.000382,0.001547,0.001547,0.000002,4.9051,3299,1,0
46,0.000324,0.001257,0.001257,0.000002,4.5059,3527,1,0
7,0.000318,0.001349,0.001349,0.000002,4.4816,3557,1,0

In [71]:
y_test

19      Up
45    Down
39      Up
15    Down
41      Up
43      Up
26      Up
18    Down
46    Down
7     Down
Name: HandMove, dtype: object

In [77]:
dummy=pd.get_dummies(y_test)
dummy.head(3)

    Down  Up
19     0   1
45     1   0
39     0   1

In [78]:
y_test

19      Up
45    Down
39      Up
15    Down
41      Up
43      Up
26      Up
18    Down
46    Down
7     Down
Name: HandMove, dtype: object

In [91]:
Actual=X_test.Down

In [92]:
Predicted=dummy.Down

In [93]:
from sklearn.metrics import confusion_matrix
result= confusion_matrix(Actual,Predicted)

In [94]:
print(result)

[[5 0]
 [0 5]]

In [98]:
from sklearn.metrics import accuracy_score 
Accuracy=accuracy_score(Actual, Predicted) 
print(Accuracy)

1.0